<link rel="stylesheet" href="/css/navbar.css">
<nav>
    <div class="menu"><i class="fa-solid fa-bars"></i></div>
    <div class="brand">ChessApp</div>
</nav>
<script src="/js/script.js" defer></script>
