<link rel="stylesheet" href="/css/sidebar.css">
<div class="sidebar">
    <div class="close-btn">&#10006;</div>
    <div class="items">
        <a class="item" href="/">Play</a>
        <a class="item" href="/posts">Posts</a>
        <a class="item" href="/profile">Profile</a>
        <a class="item" href="/users">Search</a>
        <a class="item" href="/logout">Log Out</a>
    </div>
</div>
<script src="/js/script.js" defer></script>
